body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track { 
 background-color:#bcbcbc;
}
 
body::-webkit-scrollbar-thumb {
   background-color:#bcbcbc;
   border-right:black;
    border-bottom:black;
    border-left:white;
    border-top:white;
     border-width: 3px;
    border-style:solid; }

div::-webkit-scrollbar {
    width: 1em;
}
 


div::-webkit-scrollbar-track { 
 background-color:#bcbcbc;
}
 


div::-webkit-scrollbar-thumb {
   background-color:#bcbcbc;
   border-right:black;
    border-bottom:black;
    border-left:white;
    border-top:white;
     border-width: 3px;
    border-style:solid; }

#content{min-width: 600px;}
	
	body{
        min-width: 600px;
        background-color:white;
	overflow-x:visible;
	cursor:crosshair;}
	
	p {font-family: 'arial', sans-serif;
    color:#0000ff;
    line-height: 120%;}
    
	#mysidenav{position:fixed;
	top:90px;}
	
	.sidenav {
  
    width: 0; 
    position: fixed; 
    z-index: 999;
    left: 0;
    background-color: #bcbcbc; 
    overflow-x: hidden; 
    padding-top: 30px; 
	transition: 0.5s;}
	
	#projnav{position:fixed;
	top:28em;}
	  
    
    .sidenav a {
    font-family:"ITCLubalin";
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #0000ff;
    display: block;
    transition: 0.3s;
    border-right:black;
    border-bottom:black;
    border-left:white;
    border-top:white;
    border-style:solid;}
    
    .sidenav a:hover{text-decoration: underline;}
    
    .sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
    margin-left: 50px;
    padding:1px;}
    
    .tbl { width:70%;
    display:table;

table-layout: fixed;
        
}
	.tbl span {
    display:table-cell;
    text-align:center;
}	

	.click {padding:1% 2% 1% 0%; width:74%;}
	
	.rule {border-top:1px;border-bottom:0px;border-left:0px;border-right:0px; border-style:solid; border-color:#595959; padding-top:3px; margin-top: -5px;}
	
	.bottom {height:60%; overflow:hidden;}
	
	.txt {width:36%; padding:1% 2% 1% 0%;}
	
	.grey{color:#595959;}
	
	.b{ font-family: ITCLubalin; font-weight: bold; font-size: 1.7em;}

.main-title {font-size: .9em;}
	
	.cntr{margin:auto;}
	
	.u{text-decoration: underline;}
	
	.txtright {text-align:right;}
	
	.fltright { display: -webkit-flex;
    display: flex;
       -webkit-flex-wrap: wrap;
    flex-wrap: wrap;}
    
    .hand{cursor: pointer;}
    
    .right {float:right;}
	
	.work { width:100%; height:auto;
	}
	
	@font-face {font-family: ITCLubalin;
    src:url(LubalinGraphStd-Book.otf)}
    
    @font-face {font-family: ITCLubalin;
    src:url()}
    
    @font-face {
    font-family: ITCLubalin;
    src: url(LubalinGraphStd-Medium.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'helvetica', sans-serif;
 src: url(HelveticaLTStd-Roman.otf);}
	
	#contact{transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    position:Fixed;
    margin:0;
    top:8.1em;
    left:-1em;
    z-index:999;
    }
.sectionbreak {width: 74%; color: blue; border-bottom: solid blue 1px;}
    #projnav{height:300px; font-size: 12px;}
    
    #projects{transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    position:Fixed;
    margin:0;
    top:24em;
    left:-1em;
    z-index:999;
    }
    
    a{text-decoration:none; font-family:"ITCLubalin"; color: #0000ff;}
    
    #contact:hover{text-decoration: underline;}
    
    a:hover{text-decoration: underline;}
    
    #projects:hover{text-decoration: underline;}
	
	#imgClickAndChange{z-index:-99;}
	
	#home{width:50%; margin-top:5%; border:3px solid #e8e8e8; }
	
	#home:hover{border:3px solid #0000ff; -webkit-transition-duration: .3s;  -webkit-transition-delay: 1s;
    transition-duration: .3s;  transition-delay: .1s; }
	
	#header-fixed { position:fixed; top:8px; width:74%;
	background:none; z-index:99999; margin-left:10%; margin-right:10%; color:#000;}
	
	h1 {color:#0000ff;
	font-family: 'ITCLubalin';  display:inline; text-align-last:right; margin:0; width:50%;
	 background:none;}
	

	
	#content {width:77 %; 
	position:absolute;
	top:12vh;
	margin-left:20%;}
	
	#homebutton {
	position:fixed;
    bottom:.7em;
    left:1em;
  font-family: 'arial', sans-serif;
    height:18px;
    text-align:center;
    padding: 2px;
    z-index:999;}

