 <style>
    ::-webkit-scrollbar { 
    display: none; 
}
	.break{width:70vw; height:2px; background:blue; max-width: 490px;margin:2vw;}

    body {background:#0000ff; overflow-x: hidden;
        background-image: url("http://68.media.tumblr.com/19bf6b416cd3ffa6ae4b38eedba4d9a3/tumblr_ootmvpdPia1rjwiwxo1_1280.gif");
    background-size: 25vw 25vw;
    background-repeat: repeat;
          background-position:right top;}
@keyframes slideInFromLeft {
  0% {
    
      opacity: 0;
  }
  100% {
    
       opacity: 1;
  }
}    

   @media only screen and (max-width: 600px) {
    body {background:#0000ff; overflow-x: hidden;
     background-image: url("http://68.media.tumblr.com/19bf6b416cd3ffa6ae4b38eedba4d9a3/tumblr_ootmvpdPia1rjwiwxo1_1280.gif");
    background-size: 400px 400px;
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center bottom;}
    #nav > a{ display:block;padding-top: 10px;}
       .parallax{left: 0px;}}

a:visited {color:#0000ff;}

    #header { height: 80%; width: auto; padding: 10px}

    #container {margin: auto; top:150px;position: relative;  width:50vw; padding:1vw; min-width: 460px; border: 1px solid blue;}
  ul{font-family:Arial, Helvetica, sans-serif; color:blue; max-width: 490px; /*margin:auto;*/}
    p{font-family:Arial, Helvetica, sans-serif; color:blue; max-width: 490px; padding:4vw;/*margin:auto;*/}
    #nav > a{ font-family:Arial, Helvetica, sans-serif; color:white; text-decoration:none;
    font-family: Georgia,Times,Times New Roman,serif; font-weight: bold; padding-right:3vw;}
    #nav{text-align:justify;
    width:70vw; margin:auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;}
    
    @media screen and (max-width: 490px) and (min-width: 200px) {#nav {display:block;}}
    
    button {position:relative; left:3vw;
    border:none;
    border-radius:0px;
    background:blue;
    font-family:Arial, Helvetica, sans-serif; color:white;
    margin:10px;}
    
    .parallax {
    animation: 2s ease-in 0s 1 slideInFromLeft;
  
    /* Set a specific height */
    height: auto; 
    width:90vw;
    position:fixed;
    top:-170px;
    left:100px;
    

        overflow:none;
min-width: 1000px;}

img{width: 80%; height: auto;}
#tabs {
  overflow: hidden;
  width: 100%;
  margin-bottom: -2px;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: .1em;
}

#tabs a {
  position: relative;
  background: blue;
   
  padding: .7em 1.4em;
  float: left;
  text-decoration: none;
  color: white;
      outline: 1px white solid;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;

}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: white;
    color: blue;
    outline: 1px blue solid;
   
}

#tabs a:focus {

}





  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabs #current a,#tabs #current 
 {
  background: #fff;
  z-index: 3;
    color: blue;
    outline: 1px blue solid;
}

#content::-webkit-scrollbar { 
    display: none; }

#content {
 overflow: scroll;
  padding: 0em 1em 1em 1em;
  height: 500px;
  position: relative;
  z-index: 2; 
  border-radius: 0 5px 5px 5px;
    border: 1px solid blue;
  
}

#head{width: 100%; height: 90px;position:fixed; top:0; left:0;z-index:999999;background: rgba(0, 0,255, 0.8);; color: red;}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    font-size: 2em;
}
.marquee {
    width: 300px;
    overflow: hidden;
    border:1px solid #ccc;
    background: black;
    color: rgb(202, 255, 195);
}
input{width: 102%; height: 90px; color:white; background: rgba(0, 0,255, 0.8); left: -10px;position: relative;}
input, textarea, select, button { font-size:2.5em;}
    </style>